body {
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.bg-green {
	background-color: lime;
	background-color: rgba(0, 255, 0, 0.25);
}
.nowrap {
	white-space: nowrap;
}
.progress-bar {
	color: black;
	overflow: visible;
}
.progress {
	font-size: 1rem;
	height: 1.5rem;
}
.cardimg {
	height: auto;
	max-height: 50px;
	max-width: 175px;
	width: auto;
}